* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

header {
  text-align: center;
  margin-bottom: 32px;
}
.regular {
  font-weight: 400;
}
.medium {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.md {
  font-size: 16px;
  line-height: 24px;
}
.sm {
  font-size: 14px;
  line-height: 20px;
}
nav{
  border-bottom: 1px solid #f2f4f7;

}
.main-nav {
  padding: 0 23px 0 16px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navleft-half {
  justify-content: center;
  align-items: center;
  display: flex;
}
.logo-text {
  padding-left: 9.83px;
}
.hamburger {
  display: flex;
  align-items: center;
}

.logo {
  object-fit: contain;
  margin-bottom: 24px;
}
.lft-align{
  text-align: left !important;
}
.container {
  display: flex;
  justify-content: center;
}
.card {
  width: 100%;
  max-width: 392px;
  padding: 48px 16px 0 16px;
}
.heading {
  font-size: 24px;
  line-height: 38px;
  color: #101828;
  text-align: center;
  margin-bottom: 8px;
}
.sub-heading {
  text-align: center;
  color: #667085;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-box {
  line-height: 24px;
  cursor: pointer;
  padding: 10px 14px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}


.label {
  cursor: pointer;
  margin-bottom: 6px;
  color: #344054;
}
.description-box{
  max-width: 360px;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 24px 0;
}
.checkbox-lefthalf {
  display: flex;
  align-items: center;
}
.checkbox {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
}
.checkbox-text {
  cursor: pointer;
  padding-left: 8px;
  color: #344054;
}

.checkbox-righthalf {
  text-decoration: none;
  color: #6941c6;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
.butn {
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.button-sign {
  padding: 10px 18px;
  background: #7f56d9;
  border: 1px solid #7f56d9;
  width: 100%;
  color: #ffffff;
}
.button-login{
  margin-right: 12px;
  padding: 10px 18px;
  background: white;
  color: #667085;
  border: none;
}
.button-social {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #344054;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  padding: 10px 16px;
  margin: 16px 0 32px 0;
}
.button-google img {
  height: 24px;
  padding-right: 12px;
}
.bottom-text {
  margin-bottom: 20px;
  text-align: center;
  color: #667085;
  gap: 4px;
}
.bottom-text a {
  text-decoration: none;
  color: #6941c6;
}
.nav-items-container{
  display: none;
}
.navright-half{
  display: none;
}
footer{
  display: flex;
  justify-content: space-between;
}
.leftfooter,.rightfooter{
  padding: 32px;
}

@media only screen and (min-width: 770px) {
  .hamburger{
    display: none;
  }
  
  .card {
    width: 100%;
    max-width: 360px;
    padding: 96px 0 0 0;
  }
  .nav-items-container{
    display: flex;
    list-style: none;
  }
  .nav-items{
    cursor: pointer;
    color: #667085;
    margin-left: 37px;
  }
  .nav-items img{
    margin-left: 13px;
  }
  .main-nav{
    max-width: 1280px;
    height: 80px;
    margin: auto;
  }
  .navright-half{
    display: flex;
  }
  
}

@media only screen and (max-width: 770px) and (min-width: 420px)  {
    .logo,.heading,.sub-heading{
      text-align: left;
    }
    footer{
      display: none;
    }
}
@media only screen and (max-width: 400px)  {
  
  footer{
    display: none;
  }
}

